{% load static %}
<!doctype HTML>
<html lang="en">
<head>
    <title>Hangry Birds</title>
    <meta name="description" content="Hangry Birds" />
    <meta charset="UTF-8">
    <link href="{% static "css/home.css" %}" type="text/css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Welcome to HangryBirds!</h1>
    <nav>
        <div class="navbar">
            <a href="">Home</a>
            <a href="#news">News</a>
            <div class="dropdown">
                <button class="dropbtn">Search</button>
                <div class="dropdown-content">
                    <a href="#">By Restaurant</a>
                    <a href="#">By Item</a>
                    <a href="#">Editor's Picks</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    {% if messages %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
           <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
           </ul>
        </div>
       
    {% endif %}
    <section class="presentation">
        <div class="introduction">
            <div class="intro-text">
                <h1>Change How You Review Restaurants</h1>
                <p>
                    Thank you for visiting our site. On HangryBirds, you will be able to rate your favorite meal from your favorite restaurants!
                    Don't worry, you can also search for other restaurants based on the restaurant itself or the item that you would like to eat.
                    Want to find the best falafel in town? Look no further! HangryBirds will show you the best recommendations based on the reviews of other users!
                </p>
            </div>
            <div class="cta">
                <a href="{% url 'signup' %}" class="cta-create">Sign Up</a>
                <a href="{% url 'login' %}" class="cta-login">Login</a>
                </div>
            </div>
        </div>
        <div class="cover">
            <img id="HangryPic" src="{% static "images/tenderloin.jpg" %}"  alt="HangryPic">
        </div>
    </section>
</main>


</body>