{% load static %}
<!doctype HTML>
<html lang="en">
<head>
    <title>Hangry Birds</title>
    <meta name="description" content="Hangry Birds" />
    <meta charset="UTF-8">

    <link href= "{% static "css/home.css" %}" type="text/css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Welcome back, User!</h1>
    <nav>
        <div class="navbar">
            <a href="index.html">Home</a>
            <a href="#news">News</a>
            <div class="dropdown">
                <button class="dropbtn">Search</button>
                <div class="dropdown-content">
                    <a href="#">By Restaurant</a>
                    <a href="#">By Item</a>
                    <a href="#">Editor's Picks</a>
                </div>
            </div>
            <a href={% url 'home' %}>Logout</a>
        </div>
    </nav>


</header>
<main>
    <section class="main-information">
        <div class="searchbar">
            <h2>Search</h2><br>
            <div class="line-search">
                <input  class="search-bar-bar" placeholder="Search...">
                <select name="search-select" id="search-select" >
                    <option value="restaurant">Restaurant</option>
                    <option value="food">Food Item</option>
                </select>
                
                <button type="submit">Search</button>
            </div>
        </div>
        <div class="top-main">
            <h2>Top Restaurants Around Charlotte!</h2>
            <div class="top-restaurants">

                <div class="restaurant" id="top-1">
                    <img src="{% static "images/tb.png" %}" alt="Taco Bell">
                        <div class="restaurant-text">
                            <h3>Taco Bell</h3>
                            <p>8661 JW Clay Blvd,<br>Charlotte, NC 28262</p>
                        </div>
                    <div class="buttons">
                        <button type="button" class="btnRest">More Information</button>
                        <button type="button" class="btnRest">Show Reviews</button>
                        <button type="button" class="btnRest">Write a review</button>
                    </div>
                    </div>
                    <div class="restaurant" id="top-2">
                        <img src="{% static "images/cfa1.png" %}" alt="Chick-Fil-A">
                        <div class="restaurant-text">
                            <h3>Chick-Fil-A</h3>
                            <p> 8700 University Executive Park Dr,<br> Charlotte, NC 28262</p>
                        </div>
                        <div class="buttons">
                            <button type="button" class="btnRest">More Information</button>
                            <button type="button" class="btnRest">Show Reviews</button>
                            <button type="button" class="btnRest">Write a review</button>
                        </div>
                    </div>
                    <div class="restaurant" id="top-3">
                        <img src="{% static "images/tf.png" %}" alt="Tijuana Flats">
                        <div class="restaurant-text">
                            <h3>Tijuana Flats</h3>
                            <p>8926, J M Keynes Dr ste B,<br> Charlotte, NC 28262</p>
                        </div>
                        <div class="buttons">
                            <button type="button" class="btnRest">More Information</button>
                            <button type="button" class="btnRest">Show Reviews</button>
                            <button type="button" class="btnRest">Write a review</button>
                        </div>
                    </div>
                    <div class="restaurant" id="top-4">
                        <img src="{% static "images/wendys.png" %}" alt="Wendy's">
                        <div class="restaurant-text">
                            <h3>Wendy's</h3>
                            <p>10235 University City Blvd Dr,<br> Charlotte, NC 28213</p>
                        </div>
                        <div class="buttons">
                            <button type="button" class="btnRest">More Information</button>
                            <button type="button" class="btnRest">Show Reviews</button>
                            <button type="button" class="btnRest">Write a review</button>
                        </div>
                    </div>
                    <div class="restaurant" id="top-5">
                        <img src="{% static "images/bki.png" %}" alt="Burger King">
                        <div class="restaurant-text">
                            <h3>Burger King</h3>
                            <p>8431 N Tryon St,<br> Charlotte, NC 28262</p>
                        </div>
                        <div class="buttons">
                            <button type="button" class="btnRest">More Information</button>
                            <button type="button" class="btnRest">Show Reviews</button>
                            <button type="button" class="btnRest">Write a review</button>
                        </div>
                    </div>
            </div>
        </div>
        <div class="bottom-main">
            <h2></h2>
            <div class="favorite-restaurants"></div>
        </div>
    </section>


</main>


</body>