{% load static %}
<!doctype HTML>
<html lang="en">
<head>
    <title>Hangry Birds</title>
    <meta name="description" content="Hangry Birds" />
    <meta charset="UTF-8">

    <link href= "{% static "css/home.css" %}" type="text/css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Welcome back, {{username}}!</h1>
    <nav>
        <div class="navbar">
            <a href="index.html">Home</a>
            <a href="#news">Latest</a>
            <div class="dropdown">
                <button class="dropbtn">Search</button>
                <div class="dropdown-content">
                    <a href="#">By Restaurant</a>
                    <a href="#">By Item</a>
                    <a href="#">Editor's Picks</a>
                </div>
            </div>
            <a href={% url 'logout' %}>Logout</a>
        </div>
    </nav>


</header>
<main>
     {% if messages %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
           <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
           </ul>
        </div>
       
    {% endif %}
    <section class="main-information">
        <!--<div class="searchbar">-->
        <!--    <h2>Search</h2><br>-->
        <!--    <div class="line-search">-->
        <!--        <input  class="search-bar-bar" placeholder="Search...">-->
        <!--        <select name="search-select" id="search-select" >-->
        <!--            <option value="restaurant">Restaurant</option>-->
        <!--            <option value="food">Food Item</option>-->
        <!--        </select>-->
                
        <!--        <button type="submit">Search</button>-->
        <!--    </div>-->
        <!--</div>-->
        <div class="top-main">
        <h2>Top Restaurants Around Charlotte!</h2>
        <div class="top-restaurants">
     
        {% for r in rest_ID %}
          <div class="restaurant" id={{r.rest_ID}}>
                       <div class="restaurant-text">
                        <h3>{{ r.rest_name}}</h3>
                        <p>{{ r.rest_loc}}</p>
                        <p>{{ r.rest_contact}}</p>
                    </div>
                <div class="buttons">
                    <a href="{% url 'showReview' parameter=r.rest_ID %}" class="btnShow">Show/Write Reviews</a>
                </div>
            </div>
            
         {% endfor%}
         </div>
        <div class="bottom-main">
            <h2></h2>
            <div class="favorite-restaurants"></div>
        </div>
    </section>


</main>


</body>