{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href= "{% static "css/home.css" %}"  type="text/css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Welcome to HangryBirds!</h1>
    <nav>
        <div class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <a href="#news">News</a>
            <div class="dropdown">
                <button class="dropbtn">Search</button>
                <div class="dropdown-content">
                    <a href="#">By Restaurant</a>
                    <a href="#">By Item</a>
                    <a href="#">Editor's Picks</a>
                </div>
            </div>
        </div>
    </nav>


</header>
<main>
    {% if messages %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
           <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
           </ul>
        </div>
       
    {% endif %}
    
    {% block content %}
        <form method="POST" action="/login_view/" >
            {% csrf_token %}
            <div class="container">
                <h1>Login</h1>
                <p>Please enter your username and password</p>
                <hr>
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
    
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <button type="submit" class="loginbtn" value="Login">Login</button>
            </div>    
        </form>
    {% endblock %}
    <br>
    <div class="container">
       <a href="{% url 'home' %}" class="cancelLoginbtn">Cancel</a>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</main>

</body>
</html>