{% load static %}
<!doctype HTML>
<html lang="en">
<head>
    <title>Hangry Birds</title>
    <meta name="description" content="Hangry Birds" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href= "{% static "css/home.css" %}" type="text/css" rel="stylesheet" />
</head>
<body>
<header>
    <div><img src="{% static "images/hangrybirdsLogo.png" %}" alt="logo" width="85px"></img></div>
    <h1>Welcome back, {{username}}!</h1>
    <nav>
        <div class="navbar">
            <a href="#"><strong>HOME</strong></a>
            <!--<a href="#news">Latest</a>-->
            <a href="{% url 'showMyReviews' %}"><strong>MY REVIEWS</strong></a>
            <div class="dropdown">
                <button class="dropbtn"><strong>SEARCH</strong></button>
                <div class="dropdown-content">
                    <a href={% url 'loadRestSearch' %}><strong>BY RESTAURANT</strong></a>
                    <a href="{% url 'loadFoodSearch' %}"><strong>BY FOOD ITEM</strong></a>
                </div>
            </div>
            <a href={% url 'logout' %}><strong>LOGOUT</strong></a>
        </div>
    </nav>


</header>
<main>
     {% if messages %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
           <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
           </ul>
        </div>
       
    {% endif %}
    <section class="main-information">
        <div class="searchbar">
            <h2>Search</h2><br>
             {% block content %}
                <form method="POST" action="/get_queryset_rest/" >
                    {% csrf_token %}
                    <div class="line-search">
                        <input  class="search-bar-bar" name="inputSearch" placeholder="Search..." required>
                        <!--<select name="search-select" id="search-select" >-->
                        <!--    <option value="restaurant">Restaurant</option>-->
                        <!--    <option value="food">Food Item</option>-->
                        <!--</select>-->
                        <button class="btnSearch" type="submit">Search</button>
                    </div>
                </form>
            {% endblock %}
        </div>

        <div>
            <h2>Search Results: {{query}}</h2>
            <ul class="search_query">
              {% for rest in object_list %}
                <li>
                  <a class="search-list" href="{% url 'showReview' parameter=rest.rest_ID %}">{{ rest.rest_name }} --- {{rest.rest_loc}} --- {{rest.rest_contact}}</a>
                </li>
              {% endfor %}
            </ul>
        </div>
    </section>


</main>
<footer class="footer-class">
    HangryBirds 2020 &copy; Copyrights Reserved.
</footer>

</body>