{% load static %}
<!doctype HTML>
<html lang="en">
<head>
    <title>Hangry Birds</title>
    <meta name="description" content="Hangry Birds" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
    <link href= "{% static "css/home.css" %}"  type="text/css" rel="stylesheet" />
</head>
<body>
<header>
   <h1>Welcome, {{username}}!</h1>
    <nav>
        <div class="navbar">
            <a href={% url 'login' %}>Home</a>
            <!--<a href="#news">Latest</a>-->
            <a href="{% url 'showMyReviews' %}">My Reviews</a>
            <!--<div class="dropdown">-->
            <!--    <button class="dropbtn">Search</button>-->
            <!--    <div class="dropdown-content">-->
            <!--        <a href="#">By Restaurant</a>-->
            <!--        <a href="#">By Item</a>-->
            <!--        <a href="#">Editor's Picks</a>-->
            <!--    </div>-->
            <!--</div>-->
            <a href={% url 'logout' %}>Logout</a>
        </div>
    </nav>


</header>
<main>
    <section class="template-main">
        <div class="left-template">
            <!--<img src="tb.png" alt="Taco Bell">-->
            <h2>{{ rest_ID.rest_name }}</h2>
            <h3>{{ rest_ID.rest_loc }}</h3>
            <h3>{{ rest_ID.rest_contact }}</h3>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis dolore, eaque in labore necessitatibus-->
            <!--    odit quia quisquam sit velit!</p>-->
        </div>
        
        <div class="right-template">
            <h2>MENU</h2>
            <p id="caption">(Click an item below to view and write reviews!)</p>
            {% for m in menu_ID %}
                <button class="toggle">{{ m.item_name }}</button>
                <div class="panel">
                    <h3>Reviews</h3>
                {% for r in review_ID %}
                    {% if r.menuObj_id == m.item_ID %}
                    <div class="oldReview">
                        <h4>{{ r.userObj.username }}</h4>
                        <p>{{ r.review }}</p>
                        <p>{{ r.timestamp }}</p>
                        {% if r.rating == 1 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif r.rating == 2 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif r.rating == 3 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif r.rating == 4 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        {% elif r.rating == 5 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        {% endif %}
                    </div>
                    {% endif %}
                   
                {% endfor %}
                
                 <h3>Write a Review</h3>
                 {% block content %}
                    <form method="POST" action="{% url 'writeReview' parameter=m.item_ID %}" >
                        {% csrf_token %}
                        <div class="writeForm">
                            <label for="reviewText">Your Review:</label>
                            <textarea id="reviewText" name="reviewText" rows="5" cols="50" max_length="900" required></textarea>
                            <label for="rating">Rating:</label>
                            <input type="number" name="rating" min="1" max="5" id=rating required>
                            <button type="submit" class="btnWriteSubmit">Submit</a>
                        </div>    
                    </form>
                
                    
                {% endblock %}
                </div>
              {% endfor %}
              
            <!--<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, repudiandae?</h3>-->
            

        </div>

    </section>


</main>
<script>
    var acc = document.getElementsByClassName("toggle");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");
    
        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
</script>
<footer class="footer-class-showReview">
    HangryBirds 2020 &copy; Copyrights Reserved.
</footer>

</body>
