body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeee1;
    padding: 0;
    margin: 0;

}
*{
    color: black;
}
header{
    display: flex;
    height: 8vh;
    background-color: #FF8033;
    align-items: center;

    color: black;
    padding: 0% 5% 0% 5%;
}
nav{
    flex: 1;
}
.navbar {
    overflow: hidden;
    float: right;
    flex: 1;
    justify-content: right;
}
h1{
    color: black;
}

.navbar a {
    float: left;
    font-size: 16px;

    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    color: black;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    animation: hover 1.5s ease;
}
.introduction {
    flex: 1;
}
.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}
.cover {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 60vh;
}
.cover img {
    height: 100%;
    filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5s ease;
}
.cta{
    padding: 50px 0px 0px 0px;
    display: flex;
    justify-content: flex-start;
}

.cta-create {
    border: 2px solid #FF8033;
    background: transparent;
    color: #FF8033;
    width: 150px;
    height: 35px;
    cursor: pointer;
    font-size: 16px;
    padding-top: 18px;
    animation: hover 1.5s ease;
    text-align: center;
}
.cta-login{
    display: block;
    background: #FF8033;
    height: 35px;
    width: 150px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #FF8033;
    color: white;
    animation: hover 1.5s ease;
    padding-top: 18px;
    margin-left: 50px;
    text-align: center;
}
.cta-login:hover{
    background-color: white;
    border: 2px solid #FF8033;
    color: black;
}
.cta-create:hover{
    background-color: #FF8033;
    border: 2px solid white;
    color: white;
}



/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 97.5%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
.signupbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
    transform: translateY(7px);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}
.loginbtn{
    background-color: #4CAF50;
    padding: 10px 18px;
}
.cancelLoginbtn{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
/* Add padding to container elements */
.container {
    padding: 10px;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
.top-main{
    display: flex;
    flex: 1;
    flex-direction: column;
    color: white;
    padding-top: 0;
}
.bottom-main{
    flex: 2;
}
.top-restaurants {
    display: flex;
    flex-direction: row;
    padding: 2%;
    height: 70vh;
    background-color: #eeeee1;
    justify-content: space-evenly;

}

.restaurant {
    height: 60vh;
    width: 38vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #FF8033;
    justify-content: center;
    align-content: center;

}
.restaurant:hover {
    background-color: white;
    resize: horizontal;
    transform: scale(1.1);
    transform-origin: center;

}
.restaurant:hover img{
    animation: up 1.0s ease;
    transform: translateY(-60px);
}
.restaurant:hover .restaurant-text {
    animation: up 1.0s ease;
    transform: translateY(-60px);
}
.restaurant img {
    height: 15vh;
    width: 15vh;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(50px);
}

.container{
    padding: 5% 20% 5% 20%;
    justify-content: center;
}

.main-information {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
.restaurant-text{
    transform: translateY(50px);
}
@keyframes up {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-60px);
    }
}
.buttons{
    opacity: 0;
    transform: translateY(25px);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    height: 15vh;
    justify-content: space-around;

}
.btnRest{
    transform: translateY(-50px);
    height: 3.5vh;
    width: 10vw;
    background-color: transparent;
    cursor: pointer;
    background-color: transparent;
    color: #FF8033;
    border: 2px solid #FF8033;
    animation: hover 1.5s ease;
    border-radius: 15px;
}
.btnRest:hover{
    background-color: #FF8033;
    color: white;
}
.restaurant:hover .buttons{
    animation: appear 1.0s ease;
    opacity: 1;
}
.restaurant h1{
    padding-top: 0;
    padding-bottom: 0;
    font-size: 50px;
    transform: translateY(-25px);
}
@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.searchbar button{
    height: 3.5vh;
    width: 10vw;
    background-color: transparent;
    cursor: pointer;
    background-color: transparent;
    color: #FF8033;
    border: 2px solid #FF8033;
    border-radius: 15px;
}
.searchbar button:hover{
    background-color: #FF8033;
    color: white;

}
@keyframes hover {
    0%{
        opacity: 0;
        size: 2vh;
    }
    100%{
        opacity: 1;
        size: 5vh;

    }

}
@keyframes smallMoveUp {
    0% {
        transform: translateY(0px);
        font-size: 50px;
    }
    100%{
        transform: translateY(-35px);
        font-size: 25px;
    }

}
h2{
    padding-top: 50px;
}
.search-bar-bar{
    width: 40vw;
    font-size: 20px;
}
.searchbar{
    padding-top: 25px;
    justify-content: center;
}
select{
    font-size: 16px;
}
